[submodule "pool-allocator"]
	path = pool-allocator
	url = https://github.com/n1belung63/pool-allocator.git
[submodule "singelton"]
	path = singelton
	url = https://github.com/n1belung63/singelton.git
[submodule "cpp_tests/rapidjson"]
	path = cpp_tests/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "cpp_tests/googletest"]
	path = cpp_tests/googletest
	url = https://github.com/google/googletest.git
